@model WorkOrder

<div>
    <div class="row">
        <div class="col-md-6">
            <ejs-textbox id="@nameof(WorkOrder.Name)" floatLabelType="Always" placeholder="@nameof(WorkOrder.Name)" readonly="true" showClearButton="true" value="@Model.Name"></ejs-textbox>
        </div>
        <div class="col-md-6">
            <ejs-textarea id="@nameof(WorkOrder.Description)" floatLabelType="Always" placeholder="@nameof(WorkOrder.Description)" resizeMode="None" showClearButton="true" value="@Model.Description"></ejs-textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ejs-dropdownlist id="@nameof(WorkOrder.ServiceType)" dataSource="@ViewBag.ServiceTypes" change="onServiceTypeChange" floatLabelType="Always" placeholder="Service Type" showClearButton="true" value="Model.ServiceType">
                <e-dropdownlist-fields text="Name" value="Integer64ID"></e-dropdownlist-fields>
            </ejs-dropdownlist>
        </div>
        <div class="col-md-6">
            <ejs-textbox id="@nameof(WorkOrder.OtherTypeOfService)" enabled="false" floatLabelType="Always" placeholder="Other" showClearButton="true"></ejs-textbox>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ejs-dropdownlist id="@nameof(WorkOrder.Priority)" dataSource="@ViewBag.Priorities" floatLabelType="Always" placeholder="Priority" showClearButton="true" value="Model.Priority">
                <e-dropdownlist-fields text="Name" value="Integer64ID"></e-dropdownlist-fields>
            </ejs-dropdownlist>
        </div>
        <div class="col-md-6">
            <ejs-datepicker id="@nameof(WorkOrder.DueBy)" floatLabelType="Always" min="@DateTime.Today" placeholder="Due By" showClearButton="true" value="@Model.DueBy"></ejs-datepicker>
        </div>
    </div>
</div>

<script type="text/javascript">
    //The function shows or hides the other row based on if Other is selected.
    function onServiceTypeChange(args) {
        var otherTextBox = document.getElementById('OtherTypeOfService').ej2_instances[0];

        if (args.itemData.Name === 'Other') {
            otherTextBox.enabled = true;
        }
        else {
            otherTextBox.enabled = false;
        }
    }
</script>

<ejs-scripts></ejs-scripts>