@model List<WorkOrder>

@{
    ViewData["Title"] = "Work Orders";

    //Setup the dropdown for the service types.
    var priorityDropdownList = new Syncfusion.EJ2.DropDowns.DropDownList()
    {
        AllowFiltering = false,
        DataSource = ViewBag.Priorities,
        Fields = new Syncfusion.EJ2.DropDowns.DropDownListFieldSettings()
        {
            Value = "Value",
            Text = "Text"
        },
        Query = "new ej.data.Query()",
    };

    //Setup the dropdown for the service types.
    var serviceTypeDropdownList = new Syncfusion.EJ2.DropDowns.DropDownList()
    {
        AllowFiltering = false,
        DataSource = ViewBag.ServiceTypes,
        Fields = new Syncfusion.EJ2.DropDowns.DropDownListFieldSettings()
        {
            Value = "Value",
            Text = "Text"
        },
        Query = "new ej.data.Query()",
    };

    //Setup the dropdown for the statuses.
    var statusDropdownList = new Syncfusion.EJ2.DropDowns.DropDownList()
    {
        AllowFiltering = false,
        DataSource = ViewBag.Statuses,
        Fields = new Syncfusion.EJ2.DropDowns.DropDownListFieldSettings()
        {
            Value = "Value",
            Text = "Text"
        },
        Query = "new ej.data.Query()",    
    };
}

<div class="text-center">
    <h1 class="display-4">Work Orders</h1>
</div>

<div>
    <ejs-grid id="work-order-grid" tvalue="@typeof(WorkOrder)" allowReordering="true" allowFiltering="true" allowPaging="true" allowSorting="true" showColumnChooser="true"
              toolbar="@(new List<string>() { "Add", "Delete", "Cancel", "ColumnChooser" })" actionBegin="onActionBegin" actionComplete="onActionComplete" actionFailure="onActionFailure">
        <e-data-manager json="@Model.ToArray()" adaptor="RemoteSaveAdaptor" insertUrl="/WorkOrder/Create" updateUrl="/WorkOrder/Update" removeUrl="/WorkOrder/Delete" />
        <e-grid-editsettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog" showDeleteConfirmDialog="true" />
        <e-grid-columns>
            <e-grid-column field="@nameof(WorkOrder.Integer64ID)" headerText="ID" isIdentity="true" isPrimaryKey="true" visible="false" />
            <e-grid-column field="@nameof(WorkOrder.Name)" headerText="Name" />
            <e-grid-column field="@nameof(WorkOrder.Description)" headerText="Description" />
            <e-grid-column field="@nameof(WorkOrder.Problem)" headerText="Problem" visible="false" />
            <e-grid-column field="@nameof(WorkOrder.Resolution)" headerText="Resolution" visible="false" />
            <e-grid-column field="@nameof(WorkOrder.ServiceType)" edit="@new { @params = serviceTypeDropdownList }" editType="dropdownedit" headerText="Service Type" template="#service-type-template" />
            <e-grid-column field="@nameof(WorkOrder.Priority)" edit="@new { @params = priorityDropdownList }" editType="dropdownedit" headerText="Priority" template="#priority-template" />
            <e-grid-column field="@nameof(WorkOrder.Status)" edit="@new { @params = statusDropdownList }" editType="dropdownedit" headerText="Status" template="#status-template" />
        </e-grid-columns>
        <e-grid-pagesettings pageCount="5" />
    </ejs-grid>
</div>

<script>
    const descriptionColumnName = 'Description';
    const problemColumnName = 'Problem';
    const resolutionColumnName = 'Resolution';
    

    //The function 
    function onActionBegin(args) {
        //The hidden columns need to become visible inorder for them to be displayed in the add/edit dialog.
        if (args.requestType === 'beginEdit' || args.requestType === 'add') {
            for (var columnIndex = 0; columnIndex < this.columns.length; columnIndex++) {
                if (this.columns[columnIndex].field === descriptionColumnName || this.columns[columnIndex].field === problemColumnName || this.columns[columnIndex].field === resolutionColumnName) {
                    this.columns[columnIndex].visible = true;
                }
            }
         }
    }

    //The function 
     function onActionComplete(args) {
         //Update the dialog's header based on the action.
         if (args.requestType === 'beginEdit' || args.requestType === 'add') {
            var dialog = args.dialog;
            dialog.header = args.requestType === 'beginEdit' ? 'Edit Work Order' : 'Add Work Order';
         }
         //Rehide the columns meant to be hidden when a save action completes.
         else if (args.requestType === 'save') {
             for (var columnIndex = 0; columnIndex < this.columns.length; columnIndex++) {
                 if (this.columns[columnIndex].field === descriptionColumnName || this.columns[columnIndex].field === problemColumnName || this.columns[columnIndex].field === resolutionColumnName) {
                     this.columns[columnIndex].visible = false;
                 }
             }
         }
     }

     //The function handles any failures.
     async function onActionFailure(args) {
         if (args.error !== undefined && Array.isArray(args.error) && args.error.length == 1) {
             const response = args.error[0].error

             //Check for 400 (Bad Request), 409 (Conflict) & 500 (Internal Server Error) because those will return json.
             if (response.status === 400 || response.status === 409 || response.status === 500) {
                const responseBody = await response.json();

                //The server returned 400 (Bad Request) with validation problem details.
                if (response.status === 400 && responseBody.errors !== undefined) {
                    //Idea I would like to the Grid's add/edit popup to display validation issues.
                    //I also need to handle if a ServerSideValidation or ValidationProblemDetails object is returned.
                }
                //The server responded with 409. Display the conflict message in a popup.
                else if (response.status === 409 && responseBody.ConflictMessage !== undefined) {
                    ej.popups.DialogUtility.alert({
                        title: 'Warning',
                        content: responseBody.ConflictMessage[0],
                        position: { X: 'center', Y: 'center' }
                    });
                }
                //The server returned 500 (Internal Server Error) with problem details. Display the details in a popup.
                else if (response.status === 500 && responseBody.detail !== undefined) {
                    ej.popups.DialogUtility.alert({
                        title: 'Error',
                        content: responseBody.detail,
                        position: { X: 'center', Y: 'center' }
                    });
                }
             }
         }
     }
</script>

<script id="priority-template" type="text/x-template">
    ${if(Priority == 0)}
        Low
    ${/if}
    ${if(Priority == 1)}
        Normal
    ${/if}
    ${if(Priority == 2)}
        High
    ${/if}
</script>

<script id="service-type-template" type="text/x-template">
    ${if(ServiceType == 0)}
        Inspection
    ${/if}
    ${if(ServiceType == 1)}
        Routine
    ${/if}
    ${if(ServiceType == 2)}
        Reactive
    ${/if}
    ${if(ServiceType == 3)}
        Other
    ${/if}
</script>

<script id="status-template" type="text/x-template">
    ${if(Status == 0)}
        Open
    ${/if}
    ${if(Status == 1)}
        In Progress
    ${/if}
    ${if(Status == 2)}
        Verify
    ${/if}
    ${if(Status == 3)}
        Closed
    ${/if}
</script>