@model List<WorkOrder>

@{
    //Issues:

    //The ejs is throwing a javascript error when validation occurs.
    //I've found out it works correctly when column validation is used
    //but when you turn on data annotation validation, it throws the javascript
    //error.

    //When I create a new record, the record is added to the Grid but the columns
    //with templates do not show correctly. I need to refresh the browser.
    //It stopped adding to the Grid and I forget when that happened.

    //Using innerHTML when adding the partial view to the template looks terrible
    //but it looks good when JQuery().html() is used.

    ViewData["Title"] = "Work Orders";
}

<div class="text-center">
    <h1 class="display-4">Work Orders</h1>
</div>

<div>
    <ejs-grid id="work-order-grid" allowReordering="true" allowFiltering="true" allowPaging="true" allowSorting="true" showColumnChooser="true" toolbar="@(new List<string>() { "Add", "Delete", "Cancel", "ColumnChooser" })" 
            actionComplete="onActionComplete" actionFailure="onActionFailure" queryCellInfo="onQueryCellInfo" rowDataBound="onRowDataBound">
        <e-data-manager json="@Model.ToArray()" adaptor="RemoteSaveAdaptor" insertUrl="/WorkOrder/Create" updateUrl="/WorkOrder/Update" removeUrl="/WorkOrder/Delete" />
        <e-grid-editsettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog" showDeleteConfirmDialog="true" template="#work-order-dialog-template" />
        <e-grid-filtersettings showFilterBarOperator="true" />
        <e-grid-columns>
            <e-grid-column field="@nameof(WorkOrder.Integer64ID)" headerText="Work Order ID" isPrimaryKey="true" visible="false" />
            <e-grid-column field="@nameof(WorkOrder.Name)" headerText="Name" validationRules="@(new { required = true })" />
            <e-grid-column field="@nameof(WorkOrder.Description)" headerText="Description" />
            <e-grid-column field="@nameof(WorkOrder.ServiceType)" headerText="Service Type" filterBarTemplate="@(new { create = "createServiceTypeColumnFilterDropDown", write = "writeServiceTypeColumnFilterDownDown" })" template="#service-type-column-template" validationRules="@(new { required = true })" />
            <e-grid-column field="@nameof(WorkOrder.OtherTypeOfService)" headerText="Other Type of Service" visible="false" />
            <e-grid-column field="@nameof(WorkOrder.Priority)" headerText="Priority" filterBarTemplate="@(new { create = "createPriorityColumnFilterDropDown", write = "writePriorityColumnFilterDownDown" })" template="#priority-column-template" />
            <e-grid-column field="@nameof(WorkOrder.DueBy)" format="MM/dd/yyyy" headerText="Due By" type="date" />
            <e-grid-column field="@nameof(WorkOrder.Status)" headerText="Status" filterBarTemplate="@(new { create = "createStatusColumnFilterDropDown", write = "writeStatusColumnFilterDownDown" })" template="#status-column-template" />
            <e-grid-column field="@nameof(WorkOrder.Problem)" headerText="Problem" visible="false" />
            <e-grid-column field="@nameof(WorkOrder.Resolution)" headerText="Resolution" visible="false" />
        </e-grid-columns>
        <e-grid-pagesettings pageCount="5" />
    </ejs-grid>
</div>

<style>
    .warning-row {
        background-color: darkgoldenrod;
    }

    .critical-row {
        background-color: darkred;
    }

    .next-status-icon::before {
        content: '\e87e';
    }

    .no-arrow-select {
        /* Firefox */
        -moz-appearance: none;
        /* Safari, Chrome, Opera */
        -webkit-appearance: none;
    }
</style>

<script id='work-order-dialog-template' type="text/x-template">
    <div id="work-order-dialog-template-root"></div>
</script>

<script id="priority-column-template" type="text/x-template">
    ${if(Priority == 0)}
        Low
    ${/if}
    ${if(Priority == 1)}
        Normal
    ${/if}
    ${if(Priority == 2)}
        High
    ${/if}
</script>

<script id="service-type-column-template" type="text/x-template">
    ${if(ServiceType == 0)}
        Inspection
    ${/if}
    ${if(ServiceType == 1)}
        Routine
    ${/if}
    ${if(ServiceType == 2)}
        Reactive
    ${/if}
    ${if(ServiceType == 3)}
        Other
    ${/if}
</script>

<script id="status-column-template" type="text/x-template">
    <select id="status-select" class="e-btn no-arrow-select">
        <option value="0" ${if(Status == 0)}selected${/if}>Open</option>
        <option value="1" ${if(Status == 1)}selected${/if}>In Progress</option>
        <option value="2" ${if(Status == 2)}selected${/if}>Verify</option>
        <option value="3" ${if(Status == 3)}selected${/if}>Closed</option>
    </select>
    <button id="next-status-button" class="e-btn">
        <span class="e-icons next-status-icon"></span>
    </button>
</script>

<script type="text/javascript">
    var priorityColumnFilterDropDown, serviceTypeColumnFilterDropDown, statusColumnFilterDropDown;

    const priorityColumnName = 'Priority';
    const serviceTypeColumnName = 'ServiceType';
    const statusColumnName = 'Status';
    
    const priorityFilterOptions = [
        { Name: 'All', Value: -1 },
        { Name: 'Low', Value: 0 },
        { Name: 'Normal', Value: 1 },
        { Name: 'High', Value: 2 },
    ];

    const serviceTypeFilterOptions = [
        { Name: 'All', Value: -1 },
        { Name: 'Inspection', Value: 0 },
        { Name: 'Routine', Value: 1 },
        { Name: 'Reactive', Value: 2 },
        { Name: 'Other', Value: 3 }
    ];

    const statusFilterOptions = [
        { Name: 'All', Value: -1 },
        { Name: 'Open', Value: 0 },
        { Name: 'In Progress', Value: 1 },
        { Name: 'Verify', Value: 2 },
        { Name: 'Closed', Value: 3 },
    ];

    //The function creates the dropdown for the priority column filter.
    function createPriorityColumnFilterDropDown() {
        priorityColumnFilterDropDown = document.createElement('select');

        priorityFilterOptions.forEach((item) => {
            var option = document.createElement('option');
            option.value = item.Value;
            option.innerText = item.Name;
            priorityColumnFilterDropDown.appendChild(option);
        });

        return priorityColumnFilterDropDown;
    }

    //The function creates the dropdown for the service type column filter.    
    function createServiceTypeColumnFilterDropDown() {
        serviceTypeColumnFilterDropDown = document.createElement('select');

        serviceTypeFilterOptions.forEach((item) => {
            var option = document.createElement('option');
            option.value = item.Value;
            option.innerText = item.Name;
            serviceTypeColumnFilterDropDown.appendChild(option);
        });

        return serviceTypeColumnFilterDropDown;
    }

    //The function creates the dropdown for the status column filter.
    function createStatusColumnFilterDropDown() {
        statusColumnFilterDropDown = document.createElement('select');

        statusFilterOptions.forEach((item) => {
            var option = document.createElement('option');
            option.value = item.Value;
            option.innerText = item.Name;
            statusColumnFilterDropDown.appendChild(option);
        });

        return statusColumnFilterDropDown;
    }

    //The function handles loading the add/edit dialog.
    function onActionComplete(args) {
        if (args.requestType === 'add' || args.requestType === 'beginEdit') {
            var dialog = args.dialog;
            
            //Update the dialog's header based on the action.
            dialog.header = args.requestType === 'beginEdit' ? 'Edit Work Order' : 'Add Work Order';

            //Create and show a spinner while the partial view loads.
            ej.popups.createSpinner({ target: args.dialog.element });
            ej.popups.showSpinner(args.dialog.element);

            //Request the add partial view and load it into the template.
            if (args.requestType === 'add') {
                var ajax = new ej.base.Ajax({
                    type: 'GET',
                    url: '/WorkOrder/GetAddPartialView',
                    contentType: 'application/json',
                    dataType: 'json'
                });
                ajax.send()
                .then(function (data) {
                    $('#work-order-dialog-template-root').html(data);
                    //appendElement(data, args.form);
                    
                    args.form.elements.namedItem('Name').focus();
                    ej.popups.hideSpinner(args.dialog.element);
                })
                .catch(function (xhr) {
                    ej.popups.hideSpinner(args.dialog.element);
                    ej.popups.DialogUtility.alert({
                        title: 'Error',
                        content: 'Failed to load the add view.',
                        position: { X: 'center', Y: 'center' }
                    });
                });
            }
            //Request the edit partial view and load it into the template.
            else if (args.requestType === 'beginEdit') {
                var ajax = new ej.base.Ajax({
                    type: 'GET',
                    url: '/WorkOrder/GetEditPartialView/' + args.rowData.Integer64ID,
                    contentType: 'application/json',
                    dataType: 'json'
                });
                ajax.send()
                .then(function (data) {
                    $('#work-order-dialog-template-root').html(data);
                    //appendElement(data, args.form);

                    args.form.elements.namedItem('Name').focus();
                    ej.popups.hideSpinner(args.dialog.element);
                })
                .catch(function (xhr) {
                    ej.popups.hideSpinner(args.dialog.element);
                    ej.popups.DialogUtility.alert({
                        title: 'Error',
                        content: 'Failed to load the edit view.',
                        position: { X: 'center', Y: 'center' }
                    });
                });
            }
        }
    }

    //The function handles any failures.
    async function onActionFailure(args) {
        if (args.error !== undefined && Array.isArray(args.error) && args.error.length == 1) {
             const response = args.error[0].error

             //Check for 400 (Bad Request), 409 (Conflict) & 500 (Internal Server Error) because those will return json.
             if (response.status === 400 || response.status === 409 || response.status === 500) {
                const responseBody = await response.json();

                //The server returned 400 (Bad Request) with validation problem details.
                if (response.status === 400 && responseBody.errors !== undefined) {
                    //Ideally I would like to the Grid's add/edit popup to display validation issues.
                    //I also need to handle if a ServerSideValidation or ValidationProblemDetails object is returned.
                }
                //The server responded with 409. Display the conflict message in a popup.
                else if (response.status === 409 && responseBody.ConflictMessage !== undefined) {
                    ej.popups.DialogUtility.alert({
                        title: 'Warning',
                        content: responseBody.ConflictMessage[0],
                        position: { X: 'center', Y: 'center' }
                    });
                }
                //The server returned 500 (Internal Server Error) with problem details. Display the details in a popup.
                else if (response.status === 500 && responseBody.detail !== undefined) {
                    ej.popups.DialogUtility.alert({
                        title: 'Error',
                        content: responseBody.detail,
                        position: { X: 'center', Y: 'center' }
                    });
                }
             }
        }
    }

    //The function attaches an event handler to the status dropdown and next status button.
    function onQueryCellInfo(args) {
        if (args.column.headerText === statusColumnName) {
            //When the next status button is clicked, the record will be updated with the next status.
            args.cell.querySelector('#next-status-button').addEventListener('click', function () {
                if (args.data.Status < 3) {
                    args.data.Status += 1;
                }
                else {
                    args.data.Status = 0;
                }

                updateWorkOrderOnServer(args.data);
            });

            //When the user selects a specific status, the record will be updated with the selected status.
            args.cell.querySelector('#status-select').addEventListener('change', function (evt) {
                args.data.Status = parseInt(evt.target.value);
                updateWorkOrderOnServer(args.data);
            });
        }
    }

    //The function colors the rows based on the due by.
    function onRowDataBound(args) {
        if (args.data.DueBy !== null) {
            const now = new Date();
            const today = new Date((now.getMonth() + 1) + '/' + now.getDate() + '/' + now.getFullYear());

            //Highlight critical if past the due by.
            if (today > args.data.DueBy) {
                args.row.classList.add('critical-row');
            }
            //Highlight warning if within 7 days of the due by.
            else if ((args.data.DueBy - today) / (1000 * 60 * 60 * 24) < 8) {
                args.row.classList.add('warning-row');
            }
        }
    }

    //The function updates the work order record on the server.
    function updateWorkOrderOnServer(record) {
        var workOrderGrid = document.getElementById('work-order-grid').ej2_instances[0];

        //See if I can use fetch() over ej ajax or see if ej ajax has more custom response handling.
        //If a conflict occurs, the user needs to be told and right now, it looks like .catch() won't work.

        var ajax = new ej.base.Ajax({
            type: 'POST',
            url: '/WorkOrder/Update',
            contentType: 'application/json',
            data: JSON.stringify({ value: record }),
            dataType: 'json'
        });
        ajax.send()
        //On success, update the edited timestamp so future updates pass conflict detection and refresh the grid.
        .then(function (data) {
            record.LastEditedOn = data.lastEditedOn;
            workOrderGrid.refresh();
        })
        //On failure, display an error message.
        .catch(function (xhr) {
            ej.popups.DialogUtility.alert({
                title: 'Error',
                content: 'Failed to update the work order.',
                position: { X: 'center', Y: 'center' }
            });
        });
    }

    //The function creates the ej2 dropdown for the priority column filter and adds it to the associated select element.
    function writePriorityColumnFilterDownDown() {
        var dropDownList = new ej.dropdowns.DropDownList({
            //The filter is applied or cleared based on the selected option.
            change: function (args) {
                var grid = document.getElementById('work-order-grid').ej2_instances[0];
                var value = parseInt(args.value);

                if (value !== -1) {
                    grid.filterByColumn(priorityColumnName, 'equal', value);
                }
                else {
                    grid.removeFilteredColsByField(priorityColumnName);
                }
            }
        });

        dropDownList.appendTo(priorityColumnFilterDropDown);
    }

    //The function creates the ej2 dropdown for the service type column filter and adds it to the associated select element.
    function writeServiceTypeColumnFilterDownDown() {
        var dropDownList = new ej.dropdowns.DropDownList({
            //The filter is applied or cleared based on the selected option.
            change: function (args) {
                var grid = document.getElementById('work-order-grid').ej2_instances[0];
                var value = parseInt(args.value);

                if (value !== -1) {
                    grid.filterByColumn(serviceTypeColumnName, 'equal', value);
                }
                else {
                    grid.removeFilteredColsByField(serviceTypeColumnName);
                }
            }
        });

        dropDownList.appendTo(serviceTypeColumnFilterDropDown);
    }

    //The function creates the ej2 dropdown for the status column filter and adds it to the associated select element.
    function writeStatusColumnFilterDownDown() {
        var dropDownList = new ej.dropdowns.DropDownList({
            //The filter is applied or cleared based on the selected option.
            change: function (args) {
                var grid = document.getElementById('work-order-grid').ej2_instances[0];
                var value = parseInt(args.value);

                if (value !== -1) {
                    grid.filterByColumn(statusColumnName, 'equal', value);
                }
                else {
                    grid.removeFilteredColsByField(statusColumnName);
                }
            }
        });

        dropDownList.appendTo(statusColumnFilterDropDown);
    }

    function appendElement(elementString, form) {
        //Add HTML to the div in the dialog template.
        form.querySelector('#work-order-dialog-template-root').innerHTML = elementString;

        //The next part takes the script generated for the template and moves it into the document's head.
        //I don't know why the syncfusion is doing this.
        
        // //Create a script tag on the document.
        // var script = document.createElement('script');
        // script.type = "text/javascript";

        // //Find the script tag in the dialog template.
        // var serverScript = form.querySelector('#work-order-dialog-template-root').querySelector('script');

        // //Add the dialog template's script to the document head and then, remove the dialog template's script.
        // script.textContent = serverScript.innerHTML;
        // document.head.appendChild(script);
        // serverScript.remove();
    }
</script>